.lbaskerville{
    font-family: 'Libre Baskerville', serif;
}

.lfranklin{
    font-family: 'Libre Franklin', sans-serif;
}

.inconsolata {
    font-family: "Inconsolata", monospace;
}

.cgaramond {
    font-family: 'Cormorant Garamond', serif;
}

.playfair {
    font-family: 'Playfair Display', serif;
}

.playfairsc {
    font-family: 'Playfair Display SC', serif;
}

