<div id="bio" class="w-100 white mb3" style="background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );">
    <div class="cf pa3 mw9 center">
        <div class="fl w-50 pa3-m pa4-l mb3 mb5-l">
            <h2 class="lh-title f2-ns f3 b playfair fw1">
                About me.
            </h2>
        </div>
        <div class="fl w-100">
            <div class="fl w-50-l w-100 pa3-m pa4-l">
                <p class="f3-ns f4 lh-copy measure cgaramond">
                    I'm a writer and editor from London, living in Berlin since 2012 (with several years in the US in the middle). I'm currently an editor at Artsy where I commission and edit art coverage. Prior to that, I was a freelance writer – covering mostly art, as well as film, music, tech and other cultural stuff - for the New York Times, The Financial Times, Frieze, WSJ Magazine, and many more. I'm also the author of a book on <a href="https://www.cornerhousepublications.org/publications/german-design/">German design.</a>
 
                   
                     Sometimes, I even remember to send out my own newsletter, <a href="https://josietj.substack.com/">Realisticism</a>. The rest of the time, I'm rollerskating.
                </p>
            </div>
            <div class="fl w-50-l w-100 pa3-m pa4-l">
                
                <p class="f3-l f4 lh-copy measure cgaramond list">
                    Anything regarding art coverage should go to my Artsy address: <a class="white link dim" href="mailto:josie.thaddeusjohns@artsy.net">josie.thaddeusjohns at artsy dot net</a>
                </p>
                <p class="f3-l f4 lh-copy measure cgaramond list">
                    Anything else:<a class="white link dim" href="mailto:jthaddeusjohns@gmail.com">jthaddeusjohns at gmail dot com</a>
                </p>
                <p class="f3-l f4 lh-copy measure cgaramond list">
                    twitter: <a class="link white dim" href="https://twitter.com/josiet_j">@josiet_j</a>
                </p>
            </div>
        </div>
    </div>
</div>
