<div id="bio" class="vh-100 w-100 white" style="background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );">
<div class="cf pa3 mw9 center">
  <div class="fl w-50 pa3-m pa4-l mb3 mb5-l">
    <h2 class="lh-title f2-ns f3 b mt0 playfair fw1">
About me.
    </h2>
  </div>
<div class="fl w-100">
    <div class="fl w-50-l w-100 pa3-m pa4-l">
      <p class="f3-ns f4 lh-copy measure cgaramond">
I’m a writer and editor from London, based in Berlin since 2012. I write about culture – mostly art, though I also cover tech, music, film and whatever else I find interesting. I worked as Online and Associate Editor of Sleek from 2014-5. Now, I’m a freelance writer and editor with bylines at the Guardian, Frieze, Artforum, The Awl, Dazed, and many more. As well as journalism, I am currently working on fiction projects: one long one and many short ones.
</p>
    </div>
<div class="fl w-50-l w-100 pa3-m pa4-l">
    <p class="f3-l f4 lh-copy measure cgaramond list">
        <a class="white link dim" href="mailto:jthaddeusjohns@gmail.com">jthaddeusjohns at gmail dot com</a>
    </p>
<p class="f3-l f4 lh-copy measure cgaramond list">
        twitter: <a class="link white dim" href="https://twitter.com/josiet_j">@josiet_j</a>
    </p>
</div>
  </div>
</div>
  <div class="fl w-100 v-btm pa4 center cgaramond tc f4-l f5 mt5">
      @ 2017 Josie Thaddeus-Johns
  </div>
</div>
