<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Josie Thaddeus-Johns - $title$</title>
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Libre+Franklin|Podkova|Inconsolata" rel="stylesheet">
    <link rel="stylesheet" href="/css/extraFonts.css" />
    <link rel="stylesheet" href="/css/tachyons.min.css" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
        $( "#accordion" ).accordion();
        } );
        </script>
</head>
