<head>
    <title>Josie Thaddeus-Johns</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Josie Thaddeus-Johns' homepage">
    <meta name="keywords" content="Josie Thaddeus-Johns">
    <meta name="author" conten="Josie Thaddeus-Johns">
    <meta name="msapplication-TileColor" content="#FFFFFF">
	  <meta name="msapplication-TileImage" content="jtj-144.png">
	  <meta name="msapplication-config" content="browserconfig.xml">
    <link rel="shortcut icon" href="jtj.ico">
	  <link rel="icon" sizes="16x16 32x32 64x64" href="jtj.ico">
	  <link rel="icon" type="image/png" sizes="196x196" href="jtj-192.png">
	  <link rel="icon" type="image/png" sizes="160x160" href="jtj-160.png">
	  <link rel="icon" type="image/png" sizes="96x96" href="jtj-96.png">
	  <link rel="icon" type="image/png" sizes="64x64" href="jtj-64.png">
	  <link rel="icon" type="image/png" sizes="32x32" href="jtj-32.png">
	  <link rel="icon" type="image/png" sizes="16x16" href="jtj-16.png">
	  <link rel="apple-touch-icon" href="jtj-57.png">
	  <link rel="apple-touch-icon" sizes="114x114" href="jtj-114.png">
	  <link rel="apple-touch-icon" sizes="72x72" href="jtj-72.png">
	  <link rel="apple-touch-icon" sizes="144x144" href="jtj-144.png">
	  <link rel="apple-touch-icon" sizes="60x60" href="jtj-60.png">
	  <link rel="apple-touch-icon" sizes="120x120" href="jtj-120.png">
	  <link rel="apple-touch-icon" sizes="76x76" href="jtj-76.png">
	  <link rel="apple-touch-icon" sizes="152x152" href="jtj-152.png">
	  <link rel="apple-touch-icon" sizes="180x180" href="jtj-180.png">
	  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Playfair+Display|Playfair+Display+SC" rel="stylesheet">
    <link rel="stylesheet" href="/css/extraFonts.css" />
    <link rel="stylesheet" href="/css/tachyons.min.css" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/link.js"></script>
</head>
