<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Josie Thaddeus-Johns - $title$</title>
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Playfair+Display|Playfair+Display+SC" rel="stylesheet">
    <link rel="stylesheet" href="/css/extraFonts.css" />
    <link rel="stylesheet" href="/css/tachyons.min.css" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/link.js"></script>
</head>
