<div class="w-100 bg-white" id="prevWork">
    <div class="cf pa3 mw9 center">
        <div class="fl w-50-ns w-100 pa3-m pa4-l mb3">
            <h2 class="lh-title f2-ns f3 b playfair fw1">
                Portfolio.
            </h2>
            <p class="f4 f3-ns lh-copy measure cgaramond">
                Everything I've ever written, arranged chronologically.
            </p>
        </div>
        <div class="fl w-100 lh-copy">
          <div class="fl w-25-l w-100 pa3-m pa4-l">
              <details>
                  <summary class="open lh-title f3-ns f4 mt0 playfair link dim fw1">2019</summary>
                  <ul class="f4-ns f5 lh-copy measure cgaramond list pl0">
                    <li><a class="b" href="https://www.nytimes.com/2019/03/19/arts/design/cortis-sonderegger-co-berlin-double-take-icons.html?fbclid=IwAR1l0AGlCt-aHd67vtwxn7IHYf3JsTAWd_3cUSGCC_C-NbLbxTh2kq-DTKU">Think You Know This Photograph? Take Another Look</a>, Interview with Cortis & Sonderegger, The New York Times</li>
                    <li><a class="b" href="https://www.nytimes.com/2019/01/25/arts/dau-premiere-paris-canceled.html">'Dau' Premiere in Paris Is Postponed</a>, News report, The New York Times</li>

                    <li><a class="b" href="https://popula.com/2019/01/16/we-swam-south-through-green-fields-and-rolling-hills/">We swam south through green fields and rolling hills</a>, Diary, Popula</li>

                    <li><a class="b" href="https://www.theguardian.com/games/2019/jan/04/rainbow-arcade-lgbtq-video-games-exhibition-world-of-warcraft-nintendo-berlin">Sex lives and video games: first exhibition of LGBTQ gaming history opens in Berlin</a>, Feature, The Guardian</li>

                    </ul>
              </details>
          </div>
            <div class="fl w-25-l w-100 pa3-m pa4-l">
                <details>
                    <summary class="lh-title f3-ns f4 fw1 mt0 playfair link dim">2018</summary>
                    <ul class="f4-ns f5 lh-copy measure cgaramond pl0 list">  <li><a class="b" href="https://www.economist.com/prospero/2018/11/23/the-waldheim-waltz-notes-on-a-scandal">“The Waldheim Waltz”: notes on a scandal</a>, Feature, The Economist</li>

                      <li><a class="b" href="https://theoutline.com/post/6439/aufguss-world-cup-2018-report-competitive-sauna">Meet the Competitive Sauna Masters of Europe</a>, Feature, The Outline</li>

                      <li><a class="b" href="https://www.economist.com/prospero/2018/10/04/geta-bratescu-was-a-prolific-and-playful-conceptual-artist">Geta Bratescu was a playful and prolific conceptual artist</a>, Feature, The Economist</li>

                      <li><a class="b" href="http://www.matter.uandiplc.com/identity/inner-scents/">Inner Sense</a>, Interview with Sissel Tolaas, MATTER</li>

                      <li><a class="b" href="https://www.vice.com/en_us/article/bjb8jq/a-south-african-artist-made-an-ex-presidents-rape-trial-into-art"> A South African Artist Made An Ex-President's Rape Trial Into Art</a>, Interview with Dineo Seshee Bopape, Vice</li>

                      <li><a class="b" href="https://www.economist.com/prospero/2018/06/11/a-new-exhibition-fleshes-out-mans-relationship-with-meat/"> A new exhibition fleshes out man's relationship with meat</a>, The Economist</li>
  <li><b> "Siri, are you going to take my job?"</b>, Essay, INDIE Issue No. 59</li>
                      <li><a class="b" href="https://www.economist.com/prospero/2018/05/25/a-german-museum-puts-the-questionable-provenance-of-its-art-on-display/">A German museum puts the questionable provenance of its art on display</a>, The Economist</li>
    <li><b>Fights, Camera Action</b>, Interview with M.I.A. and director Steve Loveridge, House Notes magazine</li>
                      <li><a class="b" href="https://crackmagazine.net/article/aesthetic/aesthetic-sega-bodega/">Aesthetic: Sega Bodega</a>, Crack Magazine</li>

                      <li><b>Candice Breitz</b>, Interview, Elephant Issue 24</li>

                        <li><a class="b" href="http://somesuchstories.co/story/virtual-synaesthesia">In Search of Virtual Synaesthesia</a>, Essay, Somesuch Issue 3</li>
                      <li><a class="b" href="https://www.1843magazine.com/culture/the-daily/the-afterlife-of-broken-art">The Afterlife of Broken Art</a>, Feature, The Economist (1843 magazine)</li>
                      <li><a class="b" href="https://www.artforum.com/picks/id=73718">Jacqueline Donachie at The Fruitmarket Gallery</a>, Review, Artforum</li>

                        </ul>
                </details>
            </div>
            <div class="fl w-25-l w-100 pa3-m pa4-l">
                <details>
                    <summary class="lh-title f3-ns f4 fw1 mt0 playfair link dim">2017</summary>
                    <ul class="f4-ns f5 lh-copy measure cgaramond list pl0"><li><b>The Tank: How Luxury Emerges from the War-Machine</b>, Book review, 032c Winter 2017/8</li>
                    <li><a class="b" href="http://www.matter.uandiplc.com/community/virtuous-virtual/">Virtuous Virtual</a>, Reported feature, MATTER</li>
                    <li><a class="b" href="http://ediblequeens.ediblecommunities.com/food-thought/ninety-nine-bottles-beer-ground-berlin-bottle-hunters">99 Bottles of Beer on the Ground: Berlin's Bottle Hunters</a>, Reported feature, Edible Queens</li>
                    <li><a class="b" href="https://www.cornerhousepublications.org/publications/german-design/">A German Design Glossary</a>, book published to coincide with the exhibition "Driven by German Design" at Al Riwaq Gallery, Doha.</li>
                    <li><a class="b" href="https://www.1843magazine.com/design/the-daily/homes-that-are-making-waves">Homes That Are Making Waves</a>, Feature, The Economist (1843 magazine)</li>
                    <li><a class="b" href="https://elephant.art/virtual-borders-in-a-harbour-town/">Virtual Borders in a Harbour Town</a>, Review, Elephant</li>
                    <li><a class="b" href="https://www.siegessaeule.de/no_cache/newscomments/article/3596-mixed-messages-gives-a-humorous-look-at-lesbian-dating-in-berlin.html">"Mixed Messages" gives a humorous look at lesbian dating in Berlin</a>, Interview, Siegessäule</li>
                    <li><a class="b" href="https://creators.vice.com/en_us/article/vbgydy/free-orgasms-neon-pepto-bismol-korean-pavilion">Free Orgasms, Neon Lights, and Pepto-Bismol at the Korean Pavilion</a>, Feature, Creators</li>
                    <li><a class="b" href="https://www.artforum.com/picks/id=71192">Andrea Crespo at Kraupa-Tuskany Zeidler</a>, Review, Artforum</li>
                      <li><a class="b" href="https://medium.com/anxy-magazine/help-us-make-the-ultimate-angry-playlist-9a21203e91ae">A Taxonomy Of Angry Music</a>, Feature, Anxy</li>
                      <li><a class="b" href="https://broadly.vice.com/en_us/article/3k8d88/photos-from-the-debaucherous-alternative-gala-protesting-ivanka-trump">The Debaucherous, Alternative Gala Protesting Ivanka Trump</a>, Feature, Broadly</li>
                      <li><a class="b" href="https://creators.vice.com/en_us/article/nejpzd/rachel-macleane-modern-day-pinocchio-rape-culture-fake-news">A Modern-day Pinocchio Takes on Rape Culture and Fake News</a>, Exhibition review, Creators</li>
                      <li><a class="b" href="https://medium.com/the-awl/dont-sext-me-in-the-present-tense-447be1895c25">Don't Sext Me In The Present Tense</a>, Essay, The Awl</li>

                      <li><a class="b" href="http://crackmagazine.net/article/art/open-interpretation-how-christine-sun-kim-feels-the-sound/">Open Interpretation: How Christine Sun Kim feels the sound</a>, Interview, Crack Magazine</li>
                      <li><a class="b" href="https://creators.vice.com/en_us/article/z4d8y4/girls-night-out-lost-80s-feminist-animation">The Lost 80s Feminist Animation You've Never Seen</a>, Feature, Creators</li>
                      <li><a class="b" href="https://creators.vice.com/en_us/article/kby7nw/kirsten-stolle-edits-vintage-monsanto-ads-to-show-the-companys-dicey-past">Kirsten Stolle Edits Vintage Monsanto Ads to Show the Company's Dicey Past</a>, Feature, Creators</li>
                      <li><a class="b" href="http://crackmagazine.net/article/music/features/beyond-big-brother-co-berlins-exhibition-asks-are-we-paranoid-enough-about-the-reality-of-modern-surveillance/">Beyond Big Brother: Are we paranoid enough about the reality of modern surveillance?</a>, Exhibition review, Crack Magazine</li>
                      <li><a class="b" href="https://motherboard.vice.com/en_us/article/ezqz8k/this-gta-v-short-about-friendship-premiered-at-the-berlin-international-film-festival">This 'GTA V' Short About Friendship Premiered at the Berlin International Film Festival</a>, Interview with Jonathan Vinel, Motherboard</li>
                      <li><a class="b" href="https://creators.vice.com/en_us/article/8qezm3/abraham-poincheval-13-ton-boulder-for-a-week">We Asked This Artist Why He's Trapping Himself in a 13-Ton Boulder For a Week</a>, Interview with Abraham Poincheval, Creators</li>
                      <li><a class="b" href="https://creators.vice.com/en_us/article/vvy959/own-your-own-emoji-south-korea">Want to Own an Emoji? Come to This South Korean Pop-Up</a>, Feature, Creators</li>
                      <li><a class="b" href="https://creators.vice.com/en_us/article/wn7edx/in-poland-the-art-of-the-confession-gets-personal">In Poland, the Art of Confession Gets Personal</a>, Exhibition review, Creators</li>
                      <li><a class="b" href="http://crackmagazine.net/article/music/ctm-2017-review-heightened-emotions-as-radical-response/">CTM 2017: Heightened emotions as radical response</a>, Festival review, Crack magazine</li>
                      <li><a class="b" href="https://www.theguardian.com/travel/2017/jan/25/tokyo-coolest-neighbourhood-koenji-art-hotel-music-vintage-clothes?CMP=share_btn_tw">Tokyo's coolest neighbourhood: Kōenji</a>, Feature, The Guardian</li>
                      <li><a class="b" href="https://creators.vice.com/en_us/article/pgq7yy/muxes-documentary-mexicos-third-gender">Meet the People Living as &quot;Muxe,&quot; Mexico’s Third Gender</a>, Feature, Creators</li>
                      <li><a class="b" href="https://creators.vice.com/en_us/article/mgp894/rita-ackermann-lolita-paintings-abstract-expressionism">Cheeky, Chubby Lolita Paintings Give a Feminine Facelift to Abstract Expressionism</a>, Interview with Rita Ackermann, Creators</li>
                      <li><a class="b" href="http://crackmagazine.net/article/fashion/aesthetic-yves-tumor/">Aesthetic: Yves Tumor</a>, Interview, Crack Magazine</li>
                      <li><a class="b" href="https://creators.vice.com/en_us/article/aenxak/fighting-for-americas-womens-history-museum">Meet the Women Fighting for America's First Women's History Museum</a>, Interview, Creators</li>

                    </ul>
                </details>
            </div>



            <div class="fl w-25-l w-100 pa3-m pa4-l">
                <details>
                    <summary class="lh-title f3-ns f4 mt0 playfair link dim fw1">Older</summary>
                    <ul class="f4-ns f5 lh-copy measure cgaramond list pl0">
                      <li><a class="b" href="http://somesuchstories.co/story/ldn-txl-cph">LDN-TXL-CPH</a>, Essay, Somesuch Stories</li>

                      <li><a class="b" href="http://websafe2k16.com/FF00CC">FF00CC</a>, Flash Fiction, Websafe2k16</li>
                      <li><a class="b" href="https://www.artslant.com/ny/articles/show/44851-jen-ray-beware-of-people-who-think-women-are-goddesses-thats-bullshit">Jen Ray: “Beware Of People Who Think Women Are Goddesses. That's Bullshit.”</a>, Interview, ArtSlant</li>
                      <li><a class="b" href="http://www.dazeddigital.com/artsandculture/article/29343/1/meeting-the-landlords-of-berlin-s-sm-apartments">Meeting the landlords of Berlin’s S&amp;M apartments</a>, Interview, Dazed</li>
                      <li><a class="b" href="http://www.sleek-mag.com/2016/02/09/arte-fiera-italys-oldest-fair-celebrates-its-40th-year/">Arte Fiera: Italy’s Oldest Fair Celebrates its 40th Year</a>, Art fair review, Sleek</li>
                      <li><a class="b" href="https://broadly.vice.com/en_us/article/kb44ba/brits-living-in-the-eu-react-to-brexit">Brits Living in the EU React to Brexit</a>, News feature, Broadly</li>
                      <li><a class="b" href="http://somesuchstories.co/story/island-idyll">The Island Idyll</a>, Essay, Somesuch Stories</li>
                      <li><a class="b" href="https://creators.vice.com/en_us/article/wnp3v9/red-string-installation-connections-shiota">Blood-Red String Installations Visualize the Connections In-Between</a>, Interview with Chiharu Shiota, Creators</li>
                      <li><a class="b" href="https://www.artslant.com/ew/articles/show/46499">Bergen Assembly: Translating Research Into Learning And Art</a>, Review, ArtSlant</li>
                      <li><a class="b" href="https://creators.vice.com/en_us/article/xy4jmd/protesters-ask-where-is-ana-mendieta">Why Protesters Are Still Talking About the Death of Ana Mendieta</a>, Feature, Creators</li>
                      <li><a class="b" href="https://creators.vice.com/en_us/article/53wv4q/unlearning-hearing-sound-artist-abandoned-swimming-pool">Unlearning to Hear in an Abandoned Swimming Pool</a>, Interview with Tarek Atoui, Creators</li>
                      <li><a class="b" href="https://creators.vice.com/en_us/article/78enwb/museum-brings-virtual-reality-to-womens-history">Finally: A Museum That Brings Virtual Reality to Women’s History</a>, Interview with Nonny de la Peña, Creators</li>
                      <li><a class="b" href="https://creators.vice.com/en_us/article/4xqz3m/berlin-art-prize-bucks-big-donors">How Berlin's Anarchic Art Prize Bucks Big Donors</a>, Feature, Creators</li>
                      <li><a class="b" href="https://thump.vice.com/en_us/article/qkae3v/pc-music-berghain-showcase-review">PC Music's Showcase at Berghain Was a Collision of Dance Music's Most Controversial Brands</a>, Gig review, Thump</li>
                      <li><a class="b" href="https://creators.vice.com/en_uk/article/ez5yqz/what-to-buy-at-berlins-friendliest-art-book-fair">What to Buy at Berlin's Friendliest Art Book Fair</a>, Feature, Creators</li>
                      <li><a class="b" href="https://creators.vice.com/en_us/article/9anpge/internet-artists-username-body-meatspace">Internet Artists Bridge The Gap Between Username And Body</a>, Exhibition preview, Creators</li>
                      <li><a class="b" href="https://creators.vice.com/en_us/article/53wnj3/witchsy-market-ecommerce-alternative">Sick of Censorship, Artists Launch a &quot;Witchsy&quot; Online Market</a>, Interview, Creators</li>
                      <li><a class="b" href="https://creators.vice.com/en_us/article/3d53jv/berlin-most-diy-art-prize-winners-2016">Meet the Winners of Berlin’s Most DIY Art Prize</a>, Interview, Creators</li>
                      <li><a class="b" href="https://broadly.vice.com/en_us/article/vb4end/josh-basili-love-at-first-kiss-interview">Josh, the Awkward Kisser from 'Love at First Kiss,' Actually Had a Good 2016</a>, Interview, Broadly</li>

                      <li><a class="b" href="http://www.sleek-mag.com/2015/04/30/marc-quinn-tapestries-news/">Marc Quinn Is Making News Images Into Tapestries</a>, Interview, Sleek</li>
                      <li><a class="b" href="http://www.sleek-mag.com/2015/06/15/the-body-revisited/">The Body, Revisited</a>, Essay, Sleek</li>
                      <li><a class="b" href="http://www.sleek-mag.com/2015/07/30/eckhaus-latta-there-is-no-target-group/">Eckhaus Latta: There Is No Target Group</a>, Interview, Sleek</li>
                      <li><a class="b" href="http://www.sleek-mag.com/2015/07/21/sol-lewitts-wall-drawings-live-forever/">Sol LeWitt's Wall Drawings Live Forever</a>, Exhibition review, Sleek</li>
                      <li><a class="b" href="https://broadly.vice.com/en_us/article/8qw3zg/dicks-on-the-dancefloor-ber-manly-gay-germans-talk-about-masculinity">Dicks on the Dancefloor: Über Manly Gay Germans Talk About Masculinity</a>, Interview, Broadly</li>
                      <li><a class="b" href="https://broadly.vice.com/en_us/article/9ae73v/learning-to-be-a-lesbian-online">Learning to Be a Lesbian Online</a>, Essay, Broadly</li>
                      <li><a class="b" href="https://broadly.vice.com/en_us/article/nejwkg/a-doggie-day-out-at-berlins-annual-pug-race">A Doggie Day Out at Berlin's Annual Pug Race</a>, Feature, Broadly</li>
                      <li><a class="b" href="https://broadly.vice.com/en_us/article/wnw9an/panties-and-vodka-shots-partying-hard-at-berlins-pro-choice-fundraiser">Panties and Vodka Shots: Partying Hard at Berlin's Pro-Choice Fundraiser</a>, Feature, Broadly</li>
                      <li><a class="b" href="http://www.dazeddigital.com/artsandculture/article/27087/1/what-it-s-really-like-working-in-the-porn-industry">What it's Really Like Working in the Porn Industry</a>, Feature, Dazed</li>
                      <li><a class="b" href="http://www.dazeddigital.com/artsandculture/article/26281/1/watch-lily-mcmenamy-in-a-web-series-about-digital-puberty">Watch Lily McMenamy in a web series about ‘digital puberty’</a>, Interview with Britta Thie, Dazed</li>
                      <li><a class="b" href="http://www.berlinartlink.com/2015/10/03/intersections-an-interview-with-flaneur/">An Interview with Flaneur</a>, Interview, Berlin Art Link</li>
                      <li><a class="b" href="http://www.berlinartlink.com/2015/09/29/space-the-collective-unconscious-stadtbild-image-of-a-city/">The Collective Unconscious: STADT/BILD – Image of a City</a>, Exhibition review, Berlin Art Link</li>
                      <li><a class="b" href="https://broadly.vice.com/en_us/article/nz8gbx/the-all-female-dance-music-festival-that-takes-aim-at-bro-club-culture">The All-Female Dance Music Festival That Takes Aim at Bro Club Culture</a>, Feature, Broadly</li>
                      <li><a class="b" href="https://www.artslant.com/lon/articles/show/44247">What Should The Accelerationist Fantasy Look Like?</a>, Festival review, ArtSlant</li>
                      <li><a class="b" href="http://www.dazeddigital.com/artsandculture/article/27087/1/what-it-s-really-like-working-in-the-porn-industry">What it’s really like working in the porn industry</a>, Interview with Jiz Lee, Dazed</li>
                      <li><a class="b" href="https://broadly.vice.com/en_us/article/gvze5m/women-seeking-divorce-in-turkey-are-being-murdered-by-their-husbands">Women Seeking Divorce in Turkey are Being Murdered by Their Husbands</a>, Feature, Broadly</li>
                      <li><a class="b" href="https://www.artslant.com/ew/articles/show/44441">Science Does Not Equal Freedom: The Dangers Of Techno-Utopia</a>, Review, ArtSlant</li>
                      <li><a class="b" href="https://broadly.vice.com/en_us/article/ae5mya/bearded-men-in-silky-kimonos-is-a-pin-up-calendar-for-lovers-of-hirsute-men">'Bearded Men in Silky Kimonos' is a Pin-Up Calendar For Lovers of Hirsute Men</a>, Interview, Broadly</li>
                      <li><a class="b" href="https://www.timeout.com/berlin/en/nightlife/best-berlin-club-nights">Berlin's Best Club Nights</a>, Feature, Time Out</li>
                      <li><a class="b" href="https://www.artslant.com/ber/articles/show/44640">Dissent And Resistance In Post-Soviet Art: Carnivals, Clowns, And Slapstick As Political Tools For Today</a>, Review, ArtSlant</li>
                      <li><a class="b" href="https://broadly.vice.com/en_us/article/xyebwz/photos-berlin-voguing-jingle-ball-2015">A Look Inside Berlin's Very Merry Christmas Jingle Ball</a>, Feature, Broadly</li>
                        <li><a class="b" href="http://www.dazeddigital.com/artsandculture/article/18601/1/why-the-l-word-still-matters-ten-years-on">Why The L Word still matters ten years on</a>, Feature, Dazed</li>
                        <li><a class="b" href="http://www.sleek-mag.com/2014/03/14/somewhere-under-the-rainbow-in-ming-wongs-biji-diva/">Somewhere Under the Rainbow in Ming Wong’s Biji Diva</a>, Review, Sleek</li>
                        <li><a class="b" href="http://www.sleek-mag.com/2014/11/03/colours-and-chaos-studio-visit-with-katharina-grosse/">Colours and Chaos: Katharina Grosse</a>, Studio visit, Sleek</li>
                        <li><a class="b" href="http://www.siegessaeule.de/no_cache/newscomments/article/1945-majority-rules.html">Majority Rules</a>, Interview with Young Jean Lee, Siegessäule</li>
                        <li><a class="b" href="http://www.sleek-mag.com/2014/01/07/rosa-barba/">Rosa Barba</a>, Studio Visit, Sleek</li>
                        <li><a class="b" href="http://www.dazeddigital.com/artsandculture/article/19375/1/everything-must-go-la-johnjoseph-debut-novel-interview">LSD church orgies and babysitting on codeine</a>, Interview with LaJohn Joseph, Dazed</li>
                        <li><a class="b" href="http://www.dazeddigital.com/artsandculture/article/17873/1/top-ten-best-lesbian-girl-on-girl-films">Girl-on-girl films</a>, Feature, Dazed</li>
                        <li><a class="b" href="http://www.sleek-mag.com/2013/11/01/monica-bonvicini/">Monica Bonvicini</a>, Studio Visit, Sleek</li>
                        <li><a class="b" href="http://www.sleek-mag.com/2013/11/20/john-bock/">John Bock</a>, Studio Visit, Sleek</li>
                        <li><a class="b" href="http://www.rockfeedback.com/magazine/detail/grimes-visions-4ad">Grimes, 'Visions'</a>, Album review, Rockfeedback</li>
                    </ul>
                </details>
            </div>
        </div>
        <div class="fl w-100 v-btm pa4 center cgaramond tc f4-l f5 mt5">
            @ 2017 Josie Thaddeus-Johns
        </div>
    </div>
</div>
