<div class="w-100 bg-white mb3" id="work">
<div class="cf pa3 mw9 center">
  <div class="fl w-50-ns w-100 pa3-m pa4-l mb3">
    <h2 class="lh-title f2-ns f3 b playfair fw1">
        Read these first.
    </h2>
    <p class="f4 f3-ns lh-copy measure cgaramond">
        These are the pieces I'm most proud of. <a href="#prevWork" class="link dim dark-gray">Scroll down</a> for my full portfolio.
    </p>
  </div>
  <div class="fl w-100">
    <div class="fl w-25-l w-100 pa3-m pa4-l pa3-s">
        <a href="https://www.nytimes.com/2020/05/29/arts/design/design-fiction.html" class="f4-ns f5 b playfair fw3 link lh-title dim">Design Fiction: Real Solutions, Unreal Problems</a>
      <p class="f5 f4-l measure cgaramond mt2 mb4 lh-copy">
        The New York Times. </p>
    </div>
<div class="fl w-25-l w-100 pa3-m pa4-l"><a href="https://www.nytimes.com/2019/01/23/arts/dau-paris-berlin-ilya-khrzhanovsky.html" class="lh-title f4-ns f5 b mt0 playfair fw3 link dim">It Started as a Movie. As It Ballooned, Its Troubles Mounted.</a>
    <p class="f5 f4-l lh-copy measure cgaramond mt2 mb4">
      The New York Times. </p>

    </div>
<div class="fl w-25-l w-100 pa3-m pa4-l">
  <a href="https://www.wsj.com/articles/twitter-comedy-interview-sarah-cooper-eva-victor-11592924507" class="lh-title f4-ns f5 b mt0 playfair fw3 link dim">The New Guard of Female Twitter Comedians </a>
<p class="f5 f4-l lh-copy measure cgaramond mt2 mb4">
    Interview, Wall Street Journal Magazine.
  </p>
    </div>
<div class="fl w-25-l w-100 pa3-m pa4-l">
        <a href="https://www.nytimes.com/2019/11/14/arts/music/berlin-club-bouncers.html" class="lh-title f4-ns f5 b mt0 playfair fw3 link dim">Anything Goes in Berlin’s Clubs. But Are Bouncers Killing the Vibe?</a>
      <p class="f5 f4-l lh-copy measure cgaramond mt2 mb4">
        The New York Times. </p>
    </div>
  </div>
  <div class="fl w-100">
<div class="fl w-25-l w-100 pa3-m pa4-l pa3-s">
        <a href="https://www.1843magazine.com/culture/the-daily/the-afterlife-of-broken-art" class="f4-ns f5 b playfair fw3 link lh-title dim">The Afterlife of Broken Art</a>
      <p class="f5 f4-l measure cgaramond mt2 mb4 lh-copy">
          The Economist.
        </p>
    </div>
<div class="fl w-25-l w-100 pa3-m pa4-l">
  <a href="https://thebaffler.com/latest/thing-untweetable-thaddeus-johns" class="lh-title f4-ns f5 b mt0 playfair fw3 link dim">Thing Untweetable: on Jenny Holzer</a>
<p class="f5 f4-l lh-copy measure cgaramond mt2 mb4">
  The Baffler. </p>
    </div>
<div class="fl w-25-l w-100 pa3-m pa4-l">
        <a href="https://www.ft.com/content/7d2656ba-69ff-11ea-a6ac-9122541af204" class="lh-title f4-ns f5 b mt0 playfair fw3 link dim">Can technology make the art world accessible?</a>
      <p class="f5 f4-l lh-copy measure cgaramond mt2 mb4">
           The Financial Times.
        </p>
    </div>
<div class="fl w-25-l w-100 pa3-m pa4-l">
  <a href="https://theoutline.com/post/6439/aufguss-world-cup-2018-report-competitive-sauna" class="lh-title f4-ns f5 b mt0 playfair fw3 link dim">Meet the Competitive Sauna Masters of Europe</a>
<p class="f5 f4-l lh-copy measure cgaramond mt2 mb4">
    The Outline.
  </p>
    </div>
  </div>
</div>
</div>
